.Toastify__toast--success {
  color: #064;
  background: rgb(227, 252, 239);
  border-radius: 4px;

  .Toastify__progress-bar {
    background: rgb(54, 179, 126);
  }
  .Toastify__close-button {
    color: #064;
  }
}
