@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'Circe';
  src: url('../assets/fonts/Circe/Circe-Regular.woff2');
  src: local('Circe'), url('../assets/fonts/Circe/Circe-Regular.woff2') format('woff2');
}
