.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

  &__404 {
    padding: 40px 0 20px;
    font-weight: 700;
    font-size: 80px;
    color: #ebebeb;

    @media (max-width: 991px) {
      font-size: 60px;
    }
    @media (max-width: 767px) {
      padding: 40px 0 32px;
      font-size: 50px;
      line-height: 54px;
    }
  }
  &__content {
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 20px;
  }
}
